Repository AMReX-Astro/Castro, pull requests merged in 2023-10, with the labels that each got.

#2594 fix the coefficients for 2nd order Radau SDC
  Source/sdc/sdc_util.cpp
Labels: sdc

#2468 include pressure in x-momentum flux in 1-d Cartesian
  Docs/source/AMR.rst
  Docs/source/Hydrodynamics.rst
  Exec/radiation_tests/Rad2Tshock/ci-benchmarks/Rad2TShock-1d.out
  Exec/science/Detonation/ci-benchmarks/sdc_det_plt00040_extrema.out
  Source/driver/Castro_util.H
  Source/hydro/Castro_ctu_hydro.cpp
  Source/hydro/Castro_mol.cpp
  Source/hydro/Castro_mol_hydro.cpp
Labels: hydro

#2581 Convert compute_lamborder to C++
  Source/radiation/CastroRad_1d.f90
  Source/radiation/CastroRad_2d.f90
  Source/radiation/CastroRad_3d.f90
  Source/radiation/MGFLD.cpp
  Source/radiation/RAD_F.H
  Source/radiation/filter.H
Labels: radiation

#2590 Convert hbflx3 to C++
  Source/radiation/HABEC.H
  Source/radiation/HABEC_1D.F90
  Source/radiation/HABEC_2D.F90
  Source/radiation/HABEC_3D.F90
  Source/radiation/HABEC_F.H
  Source/radiation/HypreABec.cpp
  Source/radiation/HypreMultiABec.cpp
Labels: radiation

#2605 switch true-SDC to completely use burn_t internally in the Newton solve
  Source/sdc/sdc_newton_solve.H
Labels: sdc

#2631 document the shock burning flag
  Docs/source/reactions.rst
Labels: documentation :book:

#2586 some changes to the SDC Newton solver to make it more robust
  Exec/reacting_tests/reacting_convergence/ci-benchmarks/react_converge_128_true_sdc.out
  Source/sdc/Castro_sdc.cpp
  Source/sdc/Castro_sdc_util.H
  Source/sdc/sdc_newton_solve.H
Labels: sdc
